<!-- app.component.html -->
<div class="container mt-5">
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label for="division" class="mr-2">Division:</label>
          <app-remulti-select
            formControlName="division"
            [items]="divisions"
            (selectionChange)="onDivisionChange($event)"
            (clearSelection)="onDivisionClear()"
            [reset]="resetDivisions"
          ></app-remulti-select>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label for="district" class="mr-2">District:</label>
          <app-remulti-select
            formControlName="district"
            [items]="districts"
            (selectionChange)="onDistrictChange($event)"
            (clearSelection)="onDistrictClear()"
            [reset]="resetDistricts"
          ></app-remulti-select>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label for="upazila" class="mr-2">Upazila:</label>
          <app-remulti-select
            formControlName="upazila"
            [items]="upazilas"
            (selectionChange)="onUpazilaChange($event)"
            (clearSelection)="onUpazilaClear()"
            [reset]="resetUpazilas"
          ></app-remulti-select>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label for="thana" class="mr-2">Thana:</label>
          <app-remulti-select
            formControlName="thana"
            [items]="thanas"
            (selectionChange)="onThanaChange($event)"
            (clearSelection)="onThanaClear()"
            [reset]="resetThanas"
          ></app-remulti-select>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="form-group">
          <label for="ward" class="mr-2">Ward:</label>
          <app-remulti-select
            formControlName="ward"
            [items]="wards"
            [reset]="resetWards"
          ></app-remulti-select>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3" style="margin-top: 32px">
        <button
          type="submit"
          class="btn btn-success align-self-end align-items-end"
        >
          Filter
        </button>
      </div>
    </div>
  </form>
</div>
